{% extends "courses-C_layout.html" %}
{% block content %}
    <div class="C_boxtitle">
        <img class="C_PL" src="static/C_PL.png">  <!--title-->
        <h1 class="Courseheadline">Chapter 6- Loops</h1>
    </div>
    <div class="CONTENT">

        <p>Loops in C are essential control structures used to execute a block of code repeatedly until a specified condition is met. There are three main types of loops in C:</p

        <p><b>for while</p></b>
        <p>The for loop is used when the number of iterations is known </p>
        
        <p><b> while loop </b></p>
        <p>The while loop repeats a block of code as long as the given condition is true.</p>
        
        <p><b>do while</b></p>
        <p>The do-while loop is similar to the while loop but ensures that the block of code is executed at least once before checking the condition</p>
        
        <p><b> loop control statement</b></p>
        <p>break Statement:
            Used to exit the loop immediately, regardless of the loop's condition.
            continue Statement:
                Skips the current iteration and continues with the next iteration of the loop
        
        </p>
        
        <p><b>usage</b></p>
        <p>Loops are crucial for iterating through arrays, performing repetitive tasks, implementing algorithms, and controlling program flow based on certain conditions.
        Understanding loops allows for efficient and structured programming, facilitating the automation of tasks and handling repetitive operations. Each type of loop has its use cases, and choosing the appropriate loop depends on the specific requirements of the problem at hand.
        
        </p>
        <div class="practisebutton">
            <a class="btn btn-primary"  href="/courses" >Proceed to practise?</a>
        </div>
    </div>


{% endblock content %}