{% extends "courses-C_layout.html" %}
{% block content %}
    <div class="C_boxtitle">
        <img class="C_PL" src="static/C_PL.png">  <!--title-->
        <h1 class="Courseheadline">Chapter 7- If-else</h1>
    </div>
    <div class="CONTENT">
        <p><b>if else</b></p>

        <p>
        In C programming, the if-else statement is a fundamental control structure used for decision-making based on conditions. Here's how it works:
        </p>

        <p>if (condition) {
            // Code to execute if the condition is true
        } else {
            // Code to execute if the condition is false
        }
        </p>
        <p>xmultiple conditions</p>
        <p>You can use else if to check multiple conditions sequentially after the initial if statement.</p>

        <p>nested if else</p>
        <p>if-else statements can also be nested within each other, allowing for more complex conditional checks.</p>

        <p>ternery operator</p>
        <p>C also supports a ternary operator (? :), which is a concise way to write simple if-else statements.</p>

        <p>if-else statements are fundamental for controlling program flow based on conditions, allowing your programs to make decisions and execute different blocks of code accordingly.</p>
            </div>

{% endblock content %}