{% extends "courses-C_layout.html" %}
{% block content %}
    <div class="C_boxtitle">
        <img class="C_PL" src="static/C_PL.png">  <!--title-->
        <h1 class="Courseheadline">Chapter 5-Input-Output</h1>
    </div>
    <div class="CONTENT">
        <p>In C programming, input and output operations are crucial for interacting with users and handling data. Here's an overview of input/output functions commonly used in C:</p>
        <p>output function</p>
        <p>printf() Function:
        Usage: Used to display output to the standard output device (usually the console).
        </p>
        <p>escape sequence</p>
        <p>Escape Sequences in printf():
        •	\n: Newline
        •	\t: Tab
        •	\b: Backspace
        •	\r: Carriage return
        •	\\: Backslash
        •	\": Double quote
        </p>
        <p>input function</p>
        <p>scanf() Function:
        Usage: Used to read input from the standard input device (usually the keyboard).
        </p>
        <p>file input output function</p>
        <p>File Handling Functions:
        •	fopen(): Opens a file
        •	fclose(): Closes a file
        •	fprintf(): Writes formatted output to a file
        •	fscanf(): Reads formatted input from a file
        </p>standard stream</p>

        </p>•	stdin: Standard input stream (keyboard)
        •	stdout: Standard output stream (console)
        •	stderr: Standard error stream (console)
        </p>

        </p>standard input output stream</p>

        </p>•	printf() and scanf(): Use formatted output and input from stdin and stdout.
        •	getchar() and putchar(): Read and write characters to stdin and stdout.
        </p>

        </p>error handling</p>

        </p>•	Check return values of input/output functions for errors (e.g., NULL return from fopen()).</p>
        <p>Understanding input/output operations in C is crucial for interacting with users, handling files, and performing various operations involving data input and output. They enable C programs to communicate with users and external data sources 

</p>


    </div>

{% endblock content %}



