{% extends "courses-C_layout.html" %}
{% block content %}
    <div class="C_boxtitle">
        <img class="C_PL" src="static/C_PL.png">  <!--title-->
        <h1 class="Courseheadline">Chapter 4-Operators</h1>
    </div>
    <div class="CONTENT">

        <p>Operators in C are symbols that represent computations, comparisons, or actions on one or more operands. Here's an overview of the various types of operators in C:</p>

        <p><b>Arithmetic Operators:</b></p>
        <p> addition (+), subtraction (-), multiplication(*), division (\) </p>

        <p><b>realtional Operators:</b></p>
        <p> equal to (==), not equal to (!=), greater than(>),less than (<), greater than equal to (>=), less than or equal to (<=) </p>

        <p><b>logical Operators:</b></p>
        <p> logical and (&&), logical or (||),logical not(!):Combine multiple conditions and perform logical operations:</p>

        <p><b>assignment Operators:</b></p>
        <p> =, +=, -=, *=, /=, %=: Assign values to variables and perform arithmetic operations simultaneously. </p>

        <p><b>increment and decrement operator:</b></p>
        <p> 	++ (Increment), -- (Decrement): Increase or decrease the value of a variable by 1.</p>

        <p><b>bitwise Operators:</b></p>
        <p> & (Bitwise AND), | (Bitwise OR), ^ (Bitwise XOR), ~ (Bitwise NOT), << (Left shift), >> (Right shift): Perform operations at the bit level. </p>

        <p> Understanding and using operators effectively is crucial for performing computations, comparisons, and logical operations in C programming. They play a key role in manipulating data and controlling program flow.</p>
        <div class="practisebutton">
            <a class="btn btn-primary"  href="/courses" >Proceed to practise?</a>
        </div>
    </div>


{% endblock content %}